Checks: >-
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-unchecked-string-to-number-conversion,
  clang-analyzer-*,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-enum-size,
  portability-*,
  -portability-avoid-pragma-once
WarningsAsErrors: "*"
HeaderFilterRegex: "(^|/)scheduler/[^/]*$"
